:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #16bf7;
    --cor-de-fundo: #00030c;
}

body {
    background-color: var(--cor-de-fundo);
    /*    definir uma cor */
}
