:root {
    --botao-azul-efeito: #1a7003;
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    /*    criando uma variavel para puxar a fonte que eu quero */
}

body {
    background-color: var(--cor-de-fundo);
    /*    definir uma cor de fundo */
    color: var(--branco-principal);
    /*    cor  do texto */
    font-family: var(--fonte-principal);
    /*    chamanado a variavel que está salva minhas fontes */
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    /* para adicionar uma imagem apenas como decorativa é adicionado aqui */
    background-repeat: no-repeat;
    /*não quero que fica repetindo o que já foi */
    background-size: contain;
    /*  para definir o tamanho, ficar dentro do quadrado  */
    align-items: center;
    /*alinhado todos os texto no centro da coluna*/
    text-align: center;
    /*alinha as informações dentro (exemplo a escrita dentro do botaõ ficou centralizado)*/
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /*separando a grid em duas colunas de 50 % cada uma */

}

.container__botao {
    background-color: var(--botao-azul);
    /* colocando um boltão da cor azul*/
    border-radius: 5px;
    /* arrendondar as bordas do botão*/
    padding: 1em;
    /* tamanho do botão (em tamanho da fonte)*/
    color: var(--branco-principal);
    /*cor da escrita*/
    display: block;
    /*pega o bloco imteiro (tela inteira)*/
    text-decoration: none;
    /* tirar o sublinhado da escrita desse botão     */
    margin-bottom: 1em;
    /*colocando uma margim no botão */
}

.container__botao:hover{
    /*quando estiver com o mouse no botão vai mudar de cor */
    background-color: var(--botao-azul-efeito);
    /*botão vai ficar com essa cor */
    color: var(--cor-de-fundo);
    /*as letras vai ficar com essa cor*/
}

.botao_secundario {
    background-color: transparent;
    /*colocando a cor transparenteno botão*/
    border: 2px solid var(--branco-principal);
    /*criando uma borda com uma cor solida branca*/
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagens {
    margin: 1em 0 2em 0;
    /*criando uma margem 4 valor primeiro cima, direita, baixo, esquerda (igual relogio) */
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
    /*tamanho da imagem*/
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    /*margem em baixo */
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    /*colocando em linha (já que tem apenas uma fica certinho)*/
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
    /*colocar tudo que está nessa classe centralizado*/
}

.dispositivos__lista {
    display: flex;
    /*clocar tudo um do lado do outro em uma linha */
    justify-content: center;
    /*colocar tudo centralizado os itens da lista*/
    list-style-type: none;
    /*remover os pontinho na frente de cada item da lista*/
    margin: 5em;
    /*colocando uma margim para todos os lados*/
}

.dispositivos__titulo {
    font-size: 48px;
    /*colocando um tamanho de letra para o titulo */
    color: var(--branco-principal);
    /*cor para as letras*/
}

.lista__item {
    font-size: 32px;
    /*colocando um tamanho de letra para nome que fica em baixo da imagem */
    color: var(--branco-principal);
    /*cor para as letras*/
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    /*colocar tudo um do lado do outro em uma linha */
    justify-content: center;
    /*colocar tudo centralizado os itens da lista*/
    list-style-type: none;
    /*remover os pontinho na frente de cada item da lista*/
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista__link a:hover{
    /*quando eu coloco o mouse em cima muda de cor*/
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}
.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}


